body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #f9fafb;
}

@font-face {
    font-family: "Norse Bold";
    src: url("./fonts/Norse-Bold.otf");
}

.content {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    width: 33%;
    background-image: url("./images/janmesh-shah-do79qlzlhlc-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    height: 15vh;
    font-family: "Norse Bold";
    color: #fff;
}

.banner h1 {
    font-size: 6rem;
}

img {
    height: 8em;
}

.right {
    width: 66%;
}

.sign-up-text {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 2.5rem;
    height: 33%;
}

.sign-up-form {
    height: 33%;
    background-color: #fff;
    padding-top: 1em;
    padding-left: 2.5rem;
    font-size: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
}

.input-container {
    display: flex;
    column-gap: 2.5rem;
    margin: 1.5rem 0;
}

input, label {
    display: block;
}

label {
    text-transform: uppercase;
    font-size: 0.75rem;
}

input {
    width: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    color: #596D48;
    padding: 4px 8px;
    width: 100%;
    font-size: 1rem;
    margin-right: 32px;
}

.submit {
    padding-top: 2.5rem;
    padding-left: 2.5rem;
}

button {
    background-color: #596D48;
    color: #fff;
    border: none;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

a {
    color: #596D48;
    text-decoration: none;
}